﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2>Kurucu</h2>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <img class="img-responsive" src="~/img/foto.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h3 class="text-left text-color-black">Furkan Hasan Sakacı</h3>
                                    <p class="text-color-black text-left">
                                        Sakarya Üniversitesinde elektrik-elektronik ve bilgisayar mühendisliği okumuştur. Tubitak, Aselsan, Roketsan ve EMC kapsamlı
                                        yerlerde çalışmıştır. Elektromanyetik ile yazılımı birleştirip ilginç projeler ortaya koyan Furkan Hasan Sakacı bu siteyi öğrencilerin döküman bulabilmesi
                                        için açmıştır.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2>Takım</h2>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <img class="img-responsive" src="~/img/resimyok.png" alt="" />
                                            </div>
                                            <div class="col-md-12">
                                                <h4 class="text-color-black">Emrullah Tuncay</h4>
                                                <p class="text-color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <img class="img-responsive" src="~/img/resimyok.png" alt="" />
                                            </div>
                                            <div class="col-md-12">
                                                <h4 class="text-color-black">Emrullah Tuncay</h4>
                                                <p class="text-color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <img class="img-responsive" src="~/img/resimyok.png" alt="" />
                                            </div>
                                            <div class="col-md-12">
                                                <h4 class="text-color-black">Emrullah Tuncay</h4>
                                                <p class="text-color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <img class="img-responsive" src="~/img/resimyok.png" alt="" />
                                            </div>
                                            <div class="col-md-12">
                                                <h4 class="text-color-black">Emrullah Tuncay</h4>
                                                <p class="text-color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <img class="img-responsive" src="~/img/resimyok.png" alt="" />
                                            </div>
                                            <div class="col-md-12">
                                                <h4 class="text-color-black">Emrullah Tuncay</h4>
                                                <p class="text-color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <img class="img-responsive" src="~/img/resimyok.png" alt="" />
                                            </div>
                                            <div class="col-md-12">
                                                <h4 class="text-color-black">Emrullah Tuncay</h4>
                                                <p class="text-color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <img class="img-responsive" src="~/img/resimyok.png" alt="" />
                                            </div>
                                            <div class="col-md-12">
                                                <h4 class="text-color-black">Emrullah Tuncay</h4>
                                                <p class="text-color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <img class="img-responsive" src="~/img/resimyok.png" alt="" />
                                            </div>
                                            <div class="col-md-12">
                                                <h4 class="text-color-black">Emrullah Tuncay</h4>
                                                <p class="text-color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>
</body>
