﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <header>
        <div class="intro-text">
            <div class="intro-text">
                <div class="container">

                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>İletişim Formu</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="contact-form">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Adınız Soyadınız *</label>
                                    <input id="adsoyad" type="text" name="name" class="form-control" placeholder="Adınız Soyadınız *">
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Eposta Adresiniz *</label>
                                    <input id="eposta" type="text" name="name" class="form-control" placeholder="Eposta Adresiniz *">
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Mesajınız *</label>
                                    @Html.TextArea("Mesaj", null, new { @class = "form-control", placeholder = "Mesajınız", rows = 6, columns = 40 })
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="col-sm-offset-4 btn btn-primary">Gönder</button>
                                </div>
                            </div>
                        </div>
                        <h4 class="text-color-black">İletişim Bilgileri</h4> <br /><br /><br />
                        <p class="text-color-black text-left">Cihangir Mahallesi/Yıldızlar Sokağı/No:18/Daire:5/SERDİVAN/SAKARYA</p><br /><br />
                        <p class="text-color-black"> Tel No: 0545 873 50 48</p>
                    </div>
                </div>
            </div>
     </div>
    </header>
</body>
