﻿@model WebProjesi.Models.dokumanekle

@{
    ViewBag.Title = "Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="display table table-striped table-bordered" cellspacing="0" border="1">
                            <thead>
                                <tr>
                                    <td width="100px"><h4>Elektrik-Elektronik</h4></td>
                                    <td width="100px"><h4>Bilgisayar</h4></td>
                                </tr>
                                <tr>
                                    <td><h4><a href="#asd">1. Sınıf</a></h4></td>
                                    <td><h4><a href="#">1. Sınıf</a></h4></td>
                                </tr>
                                <tr>
                                    <td><h4><a href="#">2. Sınıf</a></h4></td>
                                    <td><h4><a href="#">2. Sınıf</a></h4></td>
                                </tr>
                                <tr>
                                    <td><h4><a href="#">3. Sınıf</a></h4></td>
                                    <td><h4><a href="#">3. Sınıf</a></h4></td>
                                </tr>
                                <tr>
                                    <td><h4><a href="#">4. Sınıf</a></h4></td>
                                    <td><h4><a href="#">4. Sınıf</a></h4></td>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="col-lg-6" id="alan-1">
                        <div class="panel-default">
                            <div class="panel-title">
                                <h4>Döküman Ekle</h4>
                            </div>
                            <div class="panel-body">
                                @using (Html.BeginForm())
                                {
                                    @Html.ValidationSummary()
                                    <p class="text-color-black">@Html.TextBoxFor(x => x.DokumanAdi, new { @class = "form-control", placeholder = "Döküman Adı" })</p>
                                    <p>
                                        @Html.DropDownListFor(x => x.Bolum, new[]{
                           new SelectListItem() {Text="Elektrik-Elektronik",Value="eee" },
                           new SelectListItem() {Text="Bilgisayar",Value="cs" } }, new { @class = "form-control" }
                       )


                                </p>
                                <p>
                                    @Html.DropDownListFor(x => x.Sinif, new[] {
                        new SelectListItem() {Text="1. Sınıf",Value="1"},
                        new SelectListItem() {Text="2. Sınıf",Value="2"},
                        new SelectListItem() {Text="3. Sınıf",Value="3"},
                        new SelectListItem() {Text="4. Sınıf",Value="4"} }, new { @class = "form-control" }
                                )
                            </p>
                            <p>
                                <input type="file" class="form-control" />
                            </p>
                            <p>
                                <input type="submit" class="form-control" />
                            </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
