﻿@{
    ViewBag.Title = "Home Page";
}

<body>
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="row">
                    <div class="col-lg-5">
                        
                            <form class="form1">
                                <h2>Kayıt Ol</h2>
                                    

                                <div class="form-group">
                                    <label for="kullaniciadi">Kullanıcı Adı:</label>
                                    <input type="text" class="form-control" id="kullaniciadi" placeholder="Kullanıcı Adı">
                                </div>
                                <div class="form-group">
                                    <label for="Email">Mail Adresi:</label>
                                    <input type="email" class="form-control" id="Email" placeholder="E-mail">
                                </div>
                                <div class="form-group">
                                    <label for="üniversite">Üniversite:</label>
                                    <input type="password" class="form-control" id="üniversite" placeholder="Üniversite">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Şifre:</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifre">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword2">Şifre Tekrar:</label>
                                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Şifre Tekrar">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="page-scroll btn btn-xl">Kayıt Ol</button>
                                </div>
                            </form>
                        
                        
                    </div>
                   <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                       
                            <div class="team-member">
                                <h2>Giriş Yap</h2>
                            </div>
                            <div class="form-group">
                                <label for="kullaniciadi">Kullanıcı Adı:</label>
                                <input type="text" class="form-control" id="kullaniciadi" placeholder="Kullanıcı Adı">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword2">Şifre</label>
                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Şifre">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-xl btn btn-success">Giriş Yap</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul >
            <li class="list-inline">
                @Html.ActionLink("Türkçe", "Change", "Home", new { LanguageAbbrevation = "en" }, null)
            </li>
            <li class="list-inline">
                @Html.ActionLink("English", "Change", "Home", new { LanguageAbbrevation = "tr" }, null)
            </li>
            <li class="list-inline">
                @DateTime.Now.ToString()
            </li>

        </ul>
    </header>
    <script src="~/Content/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="~/Content/jqBootstrapValidation.js"></script>
    <script src="~/Content/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="~/Content/agency.min.js"></script>
</body>

