﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
   

    <title>Mühendis Forum</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Theme CSS -->
    <link href="~/Content/agency.min.css" rel="stylesheet">
    <link href="~/Content/agency.css" rel="stylesheet">
</head>
<body>
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Furkan Hasan Sakacı-g141210402</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink(WebProjesi.Resources.HomeResource.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(WebProjesi.Resources.HomeResource.About, "About", "Home")</li>
                    <li>@Html.ActionLink(WebProjesi.Resources.HomeResource.Document, "Document", "Home")</li>
                    <li>@Html.ActionLink(WebProjesi.Resources.HomeResource.Contact, "Contact", "Home")</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
        @RenderBody()
    <script src="~/Content/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="~/Content/jqBootstrapValidation.js"></script>
    <script src="~/Content/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="~/Content/agency.min.js"></script>
</body>
</html>
